.container{
    padding: 10em;
    margin: auto;
}
.btn-row{
    display: flex;
    justify-content: space-evenly;
}
.main-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3em;
    padding: 7em 9em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card{
    display: flex;
    justify-content: center;
}
.card-text{
    font-size: 2em;
    font-style: italic;
}
.card-title{
    font-size: 4em;
    font-weight: 800;
    text-align: center;

}
.btns a{
    color: white;
    padding: 1em 2em ;
    font-size: 1.2em;
    background: crimson;
}
.btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}
.isVisible{
    display: none;
}

